html {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
   }
   h1 {
     font-size: 60px;
     text-align: center;
   }
   h2 {
     text-align: center;
     margin: 0;
     padding: 10 px 0;
     color: #FFFFFF;
     text-shadow: 2px 2px 1px black; 
   }
   h3, li {
     font-size: 20px
   }
   h2 {
     font-size: 30px
   }
   h1 {
     margin: 0;
     padding: 20px 0;
     color: #252525;
     text-shadow: 3px 3px 1px white;
   }
   img {
     display: block;
     margin: 0 auto;
     text-align: center;
   }
   body {
     background-color: #707070;
   }
   .infa{
     width: 900px;
     margin: 0 auto;
     background-color: #838383;
     padding: 0 20px 20px 20px;
   }