html {
 font-size: 20px;
 font-family: 'Oswald', sans-serif;
}
body{
   background: #ffff url(manga.jpeg);
   background-attachment: fixed;
   background-repeat: repeat-xy; 
}
h1 {
  font-size: 60px;
  text-align: center;
}
p, h3 {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 2px;
}
h2 {
  text-align: center;
  margin: 0;
  padding: 10 px 0;
  color: #FFFFFF;
  text-shadow: 2px 2px 1px black; 
}
html {
  background-color: #939393;
}
.shapka{
  width: 0 auto;
  height: 0 auto;
  background-color: #939393;

}
 .infa{
  max-width: 900px;
  margin: 5em auto 0em;
  background-color: #6c757d;/*#939393;*/
  border: 5px solid #343a40;
  padding: 0 20px 20px 20px;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #FFFFFF;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
/*a:link {
  color: #FFFFFF; 
  border-bottom: 1px dashed; 
}
a:visited {
  color: #890489;
}
a:hover {
  color: #7A007A; 
  border-bottom: .07em solid;
}
a:active {
  color: #E53CE5; 
  border-bottom: 1px dashed;
}
  table {
    width: 300px; 
    border: 1px solid blue; 
    margin: auto; 
   }
   td {
    text-align: center; 
   }*/
